.cardbox{
    width: 100%;
    align-items: center;
    background-color: rgb(4, 179, 13);
    padding: 30px 0 30px 0;
}

.card {
    margin: auto;

}
.list{
    width: auto;
    height: auto;
    padding: 30px 0 30px 0;
    background-color: blue;
}